@using Seguro.Company.Web.Models
@model Seguro.Company.Web.Models.CommonModel

@{
    ViewBag.Title = "Solutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-section med-sec-p">
    <div class="container">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 thumbimg pull-right">
            <img src="images/html5-dev.png" />
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <h3>Content Management System</h3>
            <p>
                Every business needs to choose an optimum Content Management System that allows them to manage web content with access for multiple users for creating, editing and publishing content. The content is stored in a database and may or may not be set in templates depending on the business.
                <br /><br />
                Seguro Soft is your partner in providing a content management system that is beneficial for evaluating your company’s needs and objectives with respect to the publishing of content.
            </p>
            <h5><strong>Why choose us?</strong></h5>
            <p>
                With our efficient and user-friendly Content Management System, one can easily create and format relevant content for business. We also allow you to store content in different formats with ease. Our Content Management suite helps you to assign workflows depending on various roles such as authors, editors, and admins.
                <br /> <br />
                When you choose us, you choose a dynamic system that helps you with publishing by organizing and pushing content live. The collaborative nature of our services allows you to contribute and edit content with ease of access with minimum technical expertise and quick turnaround time.
            </p>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="CmsHideContent">
            <p>
                Seguro Soft is your partner in providing a content management system that is beneficial for evaluating your company’s needs and objectives with respect to the publishing of content.
                Whatever your business requirement might be a blog or e-commerce, we evaluate and provide you a suitable content management system that best matches your interest. Not only that in case your business currently uses an analytics or ERP system, we can look at integration for the same.
            </p>
            <h5 id="CmsHideContent"><strong>Key benefits of our technology </strong></h5>
            <ul class="li-fontSize">
                <li>Easy to use  </li>
                <li> Intuitive User experience </li>
                <li>Ability to build workflows </li>
                <li> Integrate with multiple content types and systems</li>
                <li>Provide customized solution </li>
                <li> Provide suitable solution irrespective of industry </li>
                <li> Ability to create creative content that can lead your business </li>
                <li> Search Engine Optimization</li>
                <li> Group and Individual user functionality </li>
            </ul>
        </div>
    </div>
</section>


<section class="content-section med-sec-p">
    <div class="container" id="Ecommerce">
        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12  thumbimg">
            <img src="images/nativeos-dev.png" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
            <h3>E-Commerce</h3>
            <p>
                Seguro Soft has years of e-commerce experience and hundreds of happy customers with an exceptional team of world-class developers. We have delivered specialized e-commerce solutions with best practices in the online retail industry.
                <br /> <br />
                We offer made-to-measure solutions for our clients catering to their unique requirements enabling maximize their ROI.
                <br /><br />
                Our e-commerce websites are an impeccable solution for retailers, wholesalers and any resellers who want to maximize their revenue by selling their products and services on the internet.
            </p>
            <h5><strong>Our E-commerce website solution has </strong></h5>
            <ul class="li-fontSize">
                <li>Authoritative SEO and Search marketing </li>
                <li> Customer designed and developed </li>
                <li> Industry-leading conversion rates and speeds</li>
                <li> Excellent 3rd party integrations</li>
            </ul>
            <h5><strong>Why Choose Us?</strong></h5>
            <dl>
                <dt>Experience development team :</dt>
                <dd>
                    We have a massively experienced UI/UX, design as well SEO team which will make sure your e-commerce website is designed by an able team.
                </dd>
            </dl>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-top" id="EcommerceHide">
            @*<h5><strong>Why Choose Us?</strong></h5>*@
           
                <dl>
                    @*<dt>Experience development team :</dt>
                    <dd>
                        We have a massively experienced UI/UX, design as well SEO team which will make sure your e-commerce website is designed by an able team.
                    </dd>*@
                    <dt>Seamless transition :</dt>
                    <dd>
                        Once we have developed the best e-commerce website for you, we ensure that the transition of the website to your team is seamless with effective knowledge transfer meetings.
                    </dd>
                    <dt>Flexible solutions :</dt>
                    <dd>
                        We understand that each customer’s needs are different and thus we provide a customized e-commerce website which will make your website unique to your business.
                    </dd>
                    <dt>Dependable E-commerce Software :</dt>
                    <dd>
                        Using the latest, most advanced e-commerce platform, your website will have superior reliability, security and performance guaranteed.
                    </dd>
                    <dt>Ongoing Support :</dt>
                    <dd>
                        Contact our 24x7 contact center’s if you have any issues related to your e-commerce website.
                    </dd>
                    <dt>Built-in Web Hosting :</dt>
                    <dd>
                        Secure, reliable web hosting with a 100% uptime guarantee.
                    </dd>
                </dl>
         
            <h5><strong>Benefits of Availing our Services </strong></h5>
            <p>
                Developing an e-commerce website with Seguro Soft comes with extraordinary benefits to your business. We make sure that not only your website is live and functional but also avail the website to start generating revenue from the same month.
            </p>
            <dl>
                <dt>Drive Multi-device sales :</dt>
                <dd>
                    Our website is mobile and tablet responsive which will create a consistent experience for your customers and thus drive sales from all devices.
                </dd>
                <dt>Faster website :</dt>
                <dd>
                    We use best-in-class technology which makes the website load time very low. Your customer can go from browsing to checking in a few seconds.
                </dd>
            </dl>

            <h5><strong>Other benefits</strong></h5>
            <ul class="li-fontSize">
                <li> Robust Product Features & Capabilities </li>
                <li> Manage the content at scale</li>
                <li> Superior Marketing Integrations </li>
                <li> Multiple Shipping Options</li>
                <li> Multiple Payment Methods  </li>
            </ul>
            @*<a href="#" id="Ecommercelink"><input type="button" class="btn btn-lg btn-primary" id="btnEcommerceShowLess" value="Show Less"></a>*@
        </div>

    </div>
</section>



<section class="content-section med-sec-p">
    <div class="container" id="cloud-infrastructure">
        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 thumbimg pull-right">
            <img src="images/xamarin-dev.png" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
            <h3>Cloud Infrastructure</h3>
            <p>
                Building IT infrastructure in today’s complex environment is a daunting task. To add to that, maintaining a cost-effective, scalable and flexible IT infrastructure is a challenge many enterprises want to overcome.
                <br /><br />
                We understand these constraints and take a holistic approach to infrastructure issues while dealing with existing investments and architectural approaches.
                <br /> <br />
                We help companies plan, architect, build and integrate cloud infrastructure across private, public and multi-cloud environments.
                <br /><br />
                We have responsible infrastructure teams for the service providers like Amazon Web Services, Google Cloud Platform and Azure and have superior expertise working with all major cloud infrastructure providers.
                @*<br /><br />*@
                <h5><strong>Why Choose Us?</strong></h5>
                <dl>
                    <dt>International Clientele : </dt>
                    <dd>
                        Seguro Soft has a strong experience of deploying and running cloud 
                    </dd>
                 </dl>
                    @*<button class="btn btn-lg btn-primary" id="btnCIReadMore">Read More</button>*@
            </p>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-top" id="CIHide">

            @*<h5><strong>Why Choose Us?</strong></h5>*@
            <p>infrastructure services across platforms and sectors. We have established our credentials with more than 1000 enterprises.</p>
                <dl>
                    @*<dt>International Clientele : </dt>

        Seguro Soft has a strong experience of deploying and running cloud infrastructure services across platforms and sectors. We have established our credentials with more than 1000 enterprises.*@

                    <dt>99% uptime SLA : </dt>
                    <dd>
                        Thanks to our state-of-art data center, and disaster recovery services, we guarantee 99.99% server uptime SLA.
                    </dd>
                    <dt>N+1 infrastructure : </dt>
                    <dd>
                        Our N+1 infrastructure has accounted for additional power supply, network, load balancers and multiple HVAC systems, essential for business endurance.
                    </dd>
                    <dt>Flexible Payment Terms : </dt>
                    <dd>
                        We offer wide modes of payment, which includes bank transfers, monthly recurring payments for our offerings.
                    </dd>
                </dl>
          
            <h5><strong>Benefits of Availing our Services </strong></h5>
            <p>
                From the software development to cloud infrastructure to CRM solution, Seguro Soft has a reputation for providing a solution that empowers enterprises to solve challenging business problems. Seguro Soft has managed to develop a cloud infrastructure platform that delivers unequalled reliability, scalability, and performance for critical applications, and workloads.
                <br />
                <dl>
                    <dt> Superior Performance : </dt>
                    <dd>
                        Enterprises need a cloud infrastructure that can handle large and complex systems. Our service is up to the task. Seguro Soft cloud infrastructure is built from ground up to perform at the optimum levels consistently better than the competition while being economical.
                    </dd>
                    <dt> Transparent Pricing : </dt>
                    <dd>
                        Most cloud providers offer prices which might be unbelievable at the plain sight but pile up towards the later stages of engagement. Seguro Soft offer transparent pricing which will help you plan your budgets efficiently.
                    </dd>
                </dl>
                We eliminate all hidden and unpredictable costs related to bandwidth, data egress and storage. Seguro Soft Infrastructure promises supreme value for your workloads so that you can focus on solving business problems and spend less time worrying about the budget.

            </p>
            @*<a href="#" id="CIlink"><input type="button" class="col-offset-5 btn btn-lg btn-primary" id="btnCIShowLess" value="Show Less"></a>*@
        </div>

    </div>
</section>

<section class="content-section med-sec-p">
    <div class="container" id="crm">
        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 thumbimg ">
            <img src="images/nativeos-dev.png" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
            <h3>CRM</h3>
            <p>
                Every company strives for a better sales process with effective lead management, histories, and scoring. Seguro Soft provides just the CRM solution which every enterprise needs for effective automation, on-record collaboration and sales analytics.
                <br /><br />
                CRM is an essential business tool that enables enterprises to streamline their company process related to sales and marketing. This boosts the revenue growth by retaining clients and reducing the time to close a sales deal.
            </p>
            <h5><strong> Our CRM solution allows you to</strong></h5>
            <p>
                <i class="fa fa-circle fa-icon-size"></i> Envisage your sales pipeline  <br />
                <i class="fa fa-circle fa-icon-size"></i> Fast-track deal nurturing  <br />
                <i class="fa fa-circle fa-icon-size"></i> Collaborate smoothly  <br />
                <i class="fa fa-circle fa-icon-size"></i> Automate the next steps
            </p>
            <h5><strong> Why Choose Us?</strong></h5>
            <p>
                <dl>
                    <dt>Incomparable Customer Support:</dt>
                    <dd>
                        Seguro Soft is a customer-centric organization which enables you to be successful.
                    </dd>
                    <dt>Plug ‘n’ Play :</dt>
                    <dd>
                        We understand that no two businesses can be the same and hence our solution is customizable at the click of a button to suit your needs and preferences.
                    </dd>
                </dl>
                @*<button class="btn btn-lg btn-primary" id="btnCrmReadMore">Read More</button>*@
            </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-top" id="CrmHide">
          
                <dl>
                    @*<dt>Plug ‘n’ Play :</dt>
                    <dd>
                        We understand that no two businesses can be the same and hence our solution is customizable at the click of a button to suit your needs and preferences.
                    </dd>*@
                    <dt>User-Friendly Solution :</dt>
                    <dd>
                        Our solution is easy to use and master. It caters to your team as well the leadership. We believe that if the solution is easy to understand then it will be easy to onboard its users too.
                    </dd>
                    <dt> Cloud-Based Solution :</dt>
                    <dd>
                        To give you an economical CRM solution, we have developed our solution in the cloud. This allows to quickly set up your CRM and access it from any device.
                    </dd>
                </dl>
        
            <h5><strong> Benefits of Availing our Services </strong></h5>
          
                <dl>
                    <dd>
                        Seguro Soft has built a solution with multi-fold benefits to the entire sales and marketing team. The solution not only allows for effective management but also determines the way ahead for the sales and marketing process.
                    </dd>
                </dl>
                <dl>
                    <dt>Sales Management</dt>
                </dl>
                <ul class="li-fontSize">
                    <li> Lead Routing & Opportunity Management </li>
                    <li> Lead & Opportunity Analytics</li>
                    <li> Customer Info & History</li>
                    <li> Contact Management</li>
                    <li> Accurate forecasting</li>
                </ul>

             
                <dl>
                    <dt> Marketing Automation</dt>
                </dl>
                <ul class="li-fontSize">
                    <li>Marketing Strategy </li>
                    <li>Analyze Trend & Behavior </li>
                    <li> Business Intelligence</li>
                    <li> Campaign Management</li>
                </ul>

                <dl>
                    <dt>Support & Community Management</dt>
                </dl>
                <ul class="li-fontSize">
                    <li>Support Ticketing </li>
                    <li>3rd Party Integration </li>
                    <li> Call Center & VoIP Integration</li>
                </ul>
                <dl>
                    <dt>Team Collaboration</dt>
                </dl>
                <ul class="li-fontSize">
                    <li> Boost Productivity</li>
                    <li>In-sync coordination</li>
                    <li>Outstanding customer experience</li>
                    <li>Effective Data Management</li>
                </ul>
           
            @*<a href="#" id="Crmlink"><input type="button" class="btn btn-lg btn-primary" id="btnCrmShowLess" value="Show Less"></a>*@
        </div>

    </div>
</section>
@*<section class="gray-section med-sec-p nobpadding">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 thumbimg">
                <img src="images/mobile-testing.png" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
                <h3>Mobile Testing</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    <br /><br />
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
                </p>
            </div>
        </div>
    </section>*@
<script>
    $(document).ready(function () {

        @*var url = "@Model.UrlKeyword";
        if (url == 'Ecommerce') {
            //$(window).scrollTop($('#dvEcommerce').position().top - 20);
            //$('div#' + dvEcommerce)[0].scrollIntoView();
            //$('#dvEcommerce').scrollIntoView(true);
            //$("#dvEcommerce").scrollIntoView({
            //    duration: true,
            //    easing: 'easeOutExpo',
            //    complete: $.noop(),
            //    step: $.noop(),
            //    queue: false,
            //    specialEasing: null
            //});
            //document.getElementById("view" + dvEcommerce).scrollIntoView({ behavior: "smooth" });
            //window.location.hash = "view" + dvEcommerce;
            //var elmnt = document.getElementById("dvEcommerce");
            //elmnt.scrollIntoView();
            $("#dvEcommerce").scrollIntoView(true);
        }*@

        //$("#EcommerceHide").hide();
        //$('#btnEcommerceShowLess').hide();
        //$('#CIHide').hide();
        //$('#btnCIShowLess').hide();
        //$('#CrmHide').hide();
        //$('#btnCrmShowLess').hide();

        //$('#btnEcommerceReadMore').click(function () {
        //    $('#EcommerceHide').slideToggle("slow");
        //    $('#btnEcommerceShowLess').show();
        //    $('#btnEcommerceReadMore').hide();
        //});
        //$('#btnEcommerceShowLess').click(function () {
        //    $('#EcommerceHide').hide();
        //    $('#btnEcommerceReadMore').show();
        //    $('#btnEcommerceShowLess').hide();
        //    $('#Ecommercelink').prop("href", "#dvECommerce");
        //});

        //$('#btnCIReadMore').click(function () {
        //    $('#CIHide').slideToggle("slow");
        //    $('#btnCIReadMore').hide();
        //    $('#btnCIShowLess').show();
        //});
        //$('#btnCIShowLess').click(function () {
        //    $('#CIHide').hide();
        //    $('#btnCIReadMore').show();
        //    $('#btnCIShowLess').hide();
        //    $('#CIlink').prop("href", "#dvCloudInfrastructure");
        //});

        //$('#btnCrmReadMore').click(function () {
        //    $('#CrmHide').slideToggle("slow");
        //    $('#btnCrmReadMore').hide();
        //    $('#btnCrmShowLess').show();
        //});
        //$('#btnCrmShowLess').click(function () {
        //    $('#CrmHide').hide();
        //    $('#btnCrmReadMore').show();
        //    $('#btnCrmShowLess').hide();
        //    $('#Crmlink').prop("href", "#dvCrm");
        //});
    });
</script>