

<div class="breadcrumb-holder">
    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                @Html.MvcSiteMap().SiteMapPath()
                @*<li><a href="#">Home</a></li>
            <li><a href="#">Mobile Application Development </a></li>*@
            </ul>
            <span class="pagetitle">@ViewBag.Title</span>
        </div>
    </div>
</div>