@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-section med-sec-p">
    <div class="container" id="software-development">
        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 thumbimg pull-right">
            <img src="images/html5-dev.png" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
            <h3>Software Development</h3>
            <strong>Software development empowered by innovation.</strong>
            <p>
                Seguro Soft specializes in providing a full range of software development services for every domain. Software development lifecycle is an amalgamation of the feasibility study, requirement analysis, design, coding, testing, and maintenance. We assist you at every stage of your software development lifecycle.
                <br /><br />
                With years of experience in delivering innovative and agile software development services, we can be your friend and help you in developing your software with ease.
            </p>
            <h5><strong>Why choose us?</strong></h5>
            <p>
                Our top-notch software development services will help clients to become more competitive and standalone in the current marketplace.  We offer all kind of software development services to improve client’s productivity thereby helping them to earn greater ROI.
                <br /><br />
                @*Based upon the client’s requirement, we choose the software development life cycle from various life cycles such as waterfall model, iterative model, and other life cycles.
                    <br /><br />
                    We at Seguro Soft, leave no stone unturned to make our customers happy. We continuously take your inputs and requirements to produce outstanding software. From startups to MNC’s, our experienced and the dedicated team will help you in building your software by providing a complete solution to your needs.*@

                <button class="btn btn-lg btn-primary" id="btnSoftDevReadMore">Read More</button>
            </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="softDevHide">
            <p>
                Based upon the client’s requirement, we choose the software development life cycle from various life cycles such as waterfall model, iterative model, and other life cycles.
                <br /><br />
                We at Seguro Soft, leave no stone unturned to make our customers happy. We continuously take your inputs and requirements to produce outstanding software. From startups to MNC’s, our experienced and the dedicated team will help you in building your software by providing a complete solution to your needs.
            </p>
            <h5><strong>Benefits of Availing our Services </strong></h5>
            <p> Three factors constrain software projects:</p>
            <ul class="li-fontSize">
                <li>Time</li>
                <li>Budget and</li>
                <li>Quality</li>
            </ul>
            <p>
                We design and develop the software by keeping the central focus on our clients. Seguro Soft is your one-stop destination to build your software with higher ROI.
                With availing the Seguro Soft software development services, we provide you with
            </p>
            <ul class="li-fontSize">
                <li>Tailor-made software development solutions to match your requirements</li>
                <li>On time delivery</li>
                <li> Personalized solutions</li>
                <li>Relentless maintenance and support</li>
                <li>Compatible and reliable software</li>
            </ul>

            <a href="#" id="softDevlink"><input type="button" class="btn btn-lg btn-primary" id="btnSoftDevShowLess" value="Show Less"></a>
        </div>

    </div>
</section>

<section class="content-section med-sec-p">
    <div class="container" id="software-testing">
        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 thumbimg">
            <img src="images/nativeos-dev.png" class="img-alignment" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
            <h3>Software Testing</h3>
            <strong>Testing enhance the quality of your software.</strong>
            <p>
                Seguro Soft expertises in rendering complete software testing and enhanced quality assurance services for both Desktop as well as Mobile Applications. Our motto at Seguro Soft is to ensure that you are delivered with the highest quality services.

                Which is why our team of experts collaborate directly with your team to create the best end-to-end process whilst ensuring the provision of strong support and feedback from us. Our services are modified and bent according to your business requirements to keep you updated and provide secure online existence.
            </p>

            <h5><strong>Why choose us?</strong></h5>
            <p>
                Seguro Soft has been delivering the best quality Software testing services in the market since a long time and our testing services consist of everything starting from automation, performance calculation, and functionality to localization and registration of the products.
                <br /><br />
                In short, our focus lies on delivering the complete cycle of software testing. With the spectrum of best tools, framework and approach towards handling the product, we handle all the risks and improve your business’s market value and ROI.

            </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-top">
            <h5><strong>Benefits of Availing Our Services </strong></h5>
            <p>
                Our Software testing services are designed to simplify your work ensuring that your customers are provided with uninterrupted experience. We have a talented team of experts working rigorously to discover the bugs and errors and correct them before your user finds an issue.
                <br /> <br />
                We collaboratively work with your software development team from the preparation of the testing plan to the testing cases, for resolving all your issues in time and deliver to you the most amazing experience.
            </p>

            <h5><strong>Our Custom-made services include </strong></h5>
            <ul class="li-fontSize">
                <li>End-to-End testing process </li>
                <li> Round the Clock Expert Support </li>
                <li>Transparency in the business and control</li>
                <li>Highly experienced and result driven QA engineers </li>
                <li>High-Quality service delivery </li>
                <li> Scalable process while ensuring your position boost in the Market</li>
            </ul>
        </div>
    </div>
</section>

<section class="content-section med-sec-p ">
    <div class="container" id="project-management">
        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 thumbimg pull-right">
            <img src="~/images/project-management.jpg" class="img-alignment" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
            <h3>Project Management</h3>
            <strong>Project Management: The key to successful projects</strong>
            <p>
                Seguro Soft is the leading provider of exceptionally best Project management services, and we provide a full range of Project management services that are capable of handling projects of varied range. Completion of a Project requires a lot of management, and our experienced team ensures that your work is coordinated to implement your ideas properly.
                <br /><br />
                Seguro Soft has been successful in delivering best Project management services exceptionally to the clients, and our services are designed keeping in mind that we save your time while you sit back relaxed.
            </p>
            <h5><strong>Why choose us?</strong></h5>
            <p>
                Project Management plays a crucial part, and if not handled properly, it could lead to terrible results. Which is why you must always trust the best company that can handle any type of project for you. We at Seguro Soft believe in delivering high-quality services to our clients which is why our enthusiastic team ensures that every technical detail regarding the project is taken care of
            </p>
            @*<h5><strong>Benefits of Availing our Services </strong></h5>
                <p>
                    Seguro Soft focuses on understanding your business requirement and rendering to you the best quality services in less time while making sure that you are delivered with the errorless services. Our custom-made services include:
                </p>*@
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dv-mg-top">
            <p>
                to evaluate the overall success of the project. We also have our experienced Project manager working on the project analysis and estimation as well.
            </p>
            <h5><strong>Benefits of Availing our Services </strong></h5>
            <p>
                Seguro Soft focuses on understanding your business requirement and rendering to you the best quality services in less time while making sure that you are delivered with the errorless services. Our custom-made services include:
            </p>
            <ul class="li-fontSize">
                <li>Our team focuses on maintaining the coordination of the team </li>
                <li>Estimation of the project requisites and schedule creation </li>
                <li> Planning of the Software development cycle</li>
                <li> Timely execution of the plan and ensuring there is no error occurrence</li>
                <li> Project management over far off locations</li>
                <li> Secure and transparent mode of communication to deliver the best quality project to you </li>
            </ul>

        </div>
    </div>
</section>


<section class="content-section med-sec-p ">
    <div class="container" id="ui-ux-design">
        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 thumbimg">
            <img src="images/nativeos-dev.png" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
            <h3>UI/UX Designing</h3>
            <strong>Engaging clients with purposeful and creative UI/UX designing.</strong>
            <p>
                No matter how powerful the app you have developed. You will be able to get the attention of the users only when your app or website has the great UI design. Seguro Soft is the best UI/UX designing company which specialise in developing the handcrafted UI/UX designs to meet the expectations of the clients closely.  We find unique solutions to provide the best UI/UX designing services to our clients. Since UI/UX is one of the core services offered by Seguro Soft Company, clients rely on us for creating innovative apps and software with highly engaging and user-friendly designs. We enable organizations to transform their idea into a successful business quickly.
            </p>
            <h5 class="header"><strong>Why choose us?</strong></h5>

            <dl>
                <dt>Services from the Professionals :</dt>
                <dd>
                    The team of dedicated professionals provides all our services. They understand the requirements of the clients to deliver specific services to them. Our experts ensure to give full attention to our clients to provide better UI design for improved ROI.
                </dd>
                <dt>Instant Solutions : </dt>
                <dd>
                    Our experts follow the quick response approach. This enables our clients to get instant solutions to the problems occurring with the design of their apps. We create workflows to meet the best design needs of our clients.
                </dd>
                <dt>Diverse Experience :</dt>

            </dl>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dv-mg-top">

            <dl>
                <dd>
                    We have several years of expertise in UI/UX design. We have worked to create attractive and user-friendly UI/UX designs for apps in various domains including e-Learning, IT, finance, science, real estate, health, fashion, lifestyle and more.
                </dd>
                @*<dt>Diverse Experience :</dt>
                    <dd>
                        We have several years of expertise in UI/UX design. We have worked to create attractive and user-friendly UI/UX designs for apps in various domains including e-Learning, IT, finance, science, real estate, health, fashion, lifestyle and more.
                    </dd>*@
                <dt>Focus on UI/UX Designing Process : </dt>
                <dd>
                    Our experts focus on app development process on every stage. This helps in making the best UI/UX design of the app with the highly improved usability experience to the users.
                </dd>
            </dl>

            <h5><strong>Benefits of Availing our Services </strong></h5>
            <ul class="li-fontSize">
                <li>Meet the deadline </li>
                <li> The highly competitive pricing structure</li>
                <li>  Round the clock customer support services</li>
                <li>  Timely execution of the plan and ensuring there is no error occurrence</li>
                <li> Fully personalized solutions</li>
                <li> UI/UX designs</li>
            </ul>

        </div>
    </div>
</section>

<section class="content-section med-sec-p ">
    <div class="container" id="infrastructure-management">
        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 thumbimg pull-right">
            <img src="images/nativeos-dev.png" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
            <h3>Infrastructure Management</h3>
            <strong>Solve Your Infrastructure Management Challenges with Seguro Soft.</strong>
            <p>
                In day to day busy life, it is very hard to maintain the business or server on the cloud. However, from maintaining to restoring it, we will be with you and helping your business grow.
                <br /><br />
                We cater to a portfolio of solutions for IT infrastructure management through, transformation, operations and consulting services.
                <br /><br />
                Seguro Soft provides an across-the-board range of flexible infrastructure management solutions which can be tailored to meet each client’s exclusive requirements. This will enable our clients to increase their operational and cost efficiency, consistency, security, and continuity.
                <br /><br />
                The Infrastructure Management Services adhere to the best quality benchmarks and uses industry standard tools to facilitate business process improvement. It provides a solid backbone for international enterprises in their look for business success.
                <h5><strong>Why choose us?</strong></h5>
                <dl>
                    <dt>Expertise</dt>
                    <dd>Deep domain experience in industries across Telecom, Banking, Manufacturing, Insurance, Retail, and Healthcare</dd>
                </dl>
            </p>
            <button class="btn btn-lg btn-primary" id="btnInfrastrucutreMngReadMore">Read More</button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="dvInfrastructureMngHide">
            @*<h5><strong>Why choose us?</strong></h5>
            <dl>
            <dt>Expertise</dt>
            <dd>Deep domain experience in industries across Telecom, Banking, Manufacturing, Insurance, Retail, and Healthcare</dd>*@
            <dl>
                <dt>Reliable</dt>
                <dd>Best-of-breed products and processes, Quality certifications, rigorous audit checks, world-class assets, and a robust coaching methodology ensures our services are reliable and are delivered first-time-right</dd>
                <dt>
                    Responsive
                </dt>
                <dd>
                    We follow a customer-centric approach in our business. Be it resolving a problem, addressing a situation, exploring a new technology or stepping out of comfort zone, we are quick to respond.
                </dd>
                <dt>Flexible</dt>
                <dd>Be it engagement models, cost options, a number of delivery locations, roadmap for transformation, we provide many granular options for our customers.</dd>
                <dt>Proven</dt>
                <dd>We have happy customers all over the world. Our engagement with most of our long-serving customers is as old as we are in this business!</dd>
            </dl>
            <h5><strong>Benefits of Availing our Services:</strong></h5>
            <dl>
                <dt>Top-class infrastructure</dt>
                <dd>Our experiences, best practices, and investments deliver unmatched scalability</dd>
                <dt> Peace of mind</dt>
                <dd>Comprehensive and integrated security offerings that secure every aspect of the infrastructure landscape</dd>
                <dt>Stay ahead with Smart Infra management</dt>
                <dd>Investments in automation and next-generation IT Operations will help you differentiate from the competition and reduce complexity.</dd>
                <dt>Savings</dt>
                <dd>With the transformational delivery approach and asset monetization, your savings will be guaranteed.</dd>
            </dl>
            <a href="#" id="infrastructureMnglink"><input type="button" class="btn btn-lg btn-primary" id="btnInfrastrucutreMngShowLess" value="Show Less"></a>
        </div>


    </div>
</section>


<section class="content-section med-sec-p ">
    <div class="container" id="seo">
        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 thumbimg">
            <img src="images/mobile-testing.png" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
            <h3>SEO</h3>
            <strong>Linking Search Intent with Business Success.</strong>
            <p>
                Search Engine Optimization (SEO) is a key determinant of the online success of a business. Search engine optimization makes your website more attractive to search engines like Google and Bing by ensuring correct keywords and optimized user experience.
                <br /><br />
                It leads your business and offering to show up on the first page of search results thereby ranking ahead of your competition easily giving you an edge.  SEO can be a tricky space for someone starting their journey or looking to build on quickly.
            </p>
            <h5><strong>Why choose us?</strong></h5>
            <p>
                Our SEO services can boost your businesses by improving your visibility online.  We offer multi-dimensional expertise in different areas of search engine optimization. Our SEO solution spans a range of services from doing an audit of your website to assisting you with your SEO strategy and supporting in execution that will ultimately help your business reach its goals and increase discovery.
                <br /> <br />
                We take high ownership with an eye on the return in your investment in order to ensure that you get the maximum bang for your buck.  The traffic that comes your way as a result of our SEO services is highly engaged and finds a match in your offering, making it a more likely audience to convert. This is because the audience here is more niche and relevant.
                <br /> <br />

            </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>
                Our service also leads you to more measurable results. With reporting and an ability to see the keyword you rank for, you have the ability to analyze the benefit that our solution provides you.  Reliability and continual monitoring at our end ensure that you don’t have to worry about consistency.
            </p>
            <h5><strong>Key Benefits That You Get Upon Availing Our Services </strong></h5>
            <ul>
                <li>Best in class product </li>
                <li> Superior technology</li>
                <li>Increased Traffic </li>
                <li> Improved Rankings</li>
                <li> Higher Sales/Leads</li>
                <li>More Brand Exposure </li>
                <li>Higher credibility    </li>
                <li> Staying ahead of the competition </li>
            </ul>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#softDevHide').hide();
        $('#btnSoftDevShowLess').hide();

        $('#dvInfrastructureMngHide').hide();
        $('#btnInfrastrucutreMngShowLess').hide();

        $('#btnSoftDevReadMore').click(function () {
            $('#softDevHide').slideToggle('slow');
            $('#btnSoftDevShowLess').show();
            $('#btnSoftDevReadMore').hide();
        });
        $('#btnSoftDevShowLess').click(function () {
            $('#softDevHide').hide();
            $('#btnSoftDevShowLess').hide();
            $('#btnSoftDevReadMore').show();
            $('#softDevlink').prop("href", "#software-development");
        });

        btnInfrastrucutreMngReadMore
        $('#btnInfrastrucutreMngReadMore').click(function () {
            $('#dvInfrastructureMngHide').slideToggle('slow');
            $('#btnInfrastrucutreMngShowLess').show();
            $('#btnInfrastrucutreMngReadMore').hide();
        });
        $('#btnInfrastrucutreMngShowLess').click(function () {
            $('#dvInfrastructureMngHide').hide();
            $('#btnInfrastrucutreMngShowLess').hide();
            $('#btnInfrastrucutreMngReadMore').show();
            $('#infrastructureMnglink').prop("href", "#infrastructure-management");
        });
    });
</script>