

<div class="mainbanner">
    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
        <li>
            <img src="~/@Url.Content("images/slider/banner1-bg.jpg")" class="mainimg" />
            <div class="carousel-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 imgsection">
                            <img src="~/@Url.Content("images/slider/banner1-img.png")" class="sideimg" />
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12 descsection">
                            <div class="desc">
                                <h1>Mobile Application Development</h1>
                                <p>Experts in UI and UX design, building Hybrid Mobile Applications using HTML 5/ Cordova, Xamarin frameworks</p>
                                <ul>
                                    <li><img src="~/@Url.Content("images/android-icon.png")" /></li>
                                    <li><img src="~/@Url.Content("images/apple-icon.png")" /></li>
                                    <li><img src="~/@Url.Content("images/windows-icon.png")" /></li>
                                </ul>
                                <p><a class="btn btn-lg btn-primary" href="@Url.Action("Index","Services")" role="button">Read More <i class="fa fa-angle-right"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-services">
                <div class="container">
                    <ul class="b1-sul">
                        <li>
                            <a href="#">
                                <img src="~/@Url.Content("images/ios-icon.png")" />
                                UI / UX Designs
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/@Url.Content("images/html5-icon.png")" />
                                HTML 5 / Cordova Development
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="~/@Url.Content("images/xamarin-icon.png")" />
                                Xamarin Development
                            </a>
                        </li>
                        @*<li>
                                <a href="#">
                                    <img src="~/@Url.Content("images/ios-icon.png")" />
                                    Native OS Development
                                </a>
                            </li>*@
                        <li>
                            <a href="#">
                                <img src="~/@Url.Content("images/mbltesting-icon.png")" />
                                Mobile Testing
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <img src="~/@Url.Content("images/slider/banner2-bg.jpg")" class="mainimg" />
            <div class="carousel-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 imgsection">
                            <img src="~/@Url.Content("images/slider/banner2-img.png")" class="sideimg" />

                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12 descsection">
                            <div class="desc">
                                <h1>Commerce</h1>
                                <p>We have very good experience in building B2B, B2C and B2B2C solutions and delivered successfully to many clients. We can offer tailored solutions based on the business need within the given timelines by customizing the existing Commerce products / frameworks.</p>
                                <p><a class="btn btn-lg btn-primary" href="@Url.Action("Index", "solutions")#Ecommerce" role="button">Read More <i class="fa fa-angle-right"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-services">
                <div class="container">
                    <ul class="b2-sul">
                        <li>
                            <a href="#">
                                <img src="~/@Url.Content("images/nop-icon.png")" />
                                nopCommerce

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/@Url.Content("images/episerver-icon.png")" />
                                EpiServer Commerce

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/@Url.Content("images/kentico-icon.png")" />
                                Kentico Commerce

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/@Url.Content("images/magento-icon.png")" />
                                Magento
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <img src="~/@Url.Content("images/slider/banner3-bg.jpg")" class="mainimg" />
            <div class="carousel-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 imgsection">
                            <img src="~/@Url.Content("images/slider/banner3-img.png")" class="sideimg" />

                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12 descsection">
                            <div class="desc">
                                <h1>CMS</h1>
                                <p>We have built and delivered content management systems to our clients which enabled their marketing departments to drive more customers to their business.</p>
                                <p><a class="btn btn-lg btn-primary" href="@Url.Action("Index", "Solutions")" role="button">Read More <i class="fa fa-angle-right"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-services">
                <div class="container">
                    <ul class="b3-sul">
                        <li>
                            <a href="#">
                                <img src="~/@Url.Content("images/episerver-icon.png")" />
                                EpiServer

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/@Url.Content("images/kentico-icon.png")" />
                                Kentico

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/@Url.Content("images/umbraco-icon.png")" />
                                Umbraco

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/@Url.Content("images/wordpress-icon.png")" />
                                WordPress

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
@Scripts.Render("~/bundles/slider")
<script type="text/javascript">
    $(document).ready(function () {
        $('#image-gallery').lightSlider({
            gallery: false,
            item: 1,
            slideMargin: 0,
            speed: 300,
            auto: false,
            loop: true,
            pager: false,
            mode: 'fade'
        });
    });
</script>

<script>
    $(function () {
        window.prettyPrint && prettyPrint();
        $(document).on('click', '.yamm .dropdown-menu', function (e) {
            e.stopPropagation()
        });
    })
</script>
