
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-section med-sec-p">
    <div class="tq-margin">
        <div class="container">
            <h3>Office Address</h3>
            <hr />
            <h4>Seguro Soft Technologies Pvt. Ltd.</h4>
            3rd Floor,
            <br />Plot # 27/A, Jayabheri Enclave, Phase-2,
            <br />Behind Radisson Hotel, Gachibowli,
            <br />Hyderabad, Telangana, India – 500 032
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('.tq-margin').height($(window).height()/2 + 85);
        //var halfsc = $(window).height();
        //$('.tq-margin').css('margin-bottom', halfsc );
    });
</script>